nav.mobileMenu
    ul
        li.mobileMenu__item--active
            a.mobileMenu__link(href="#") О нас
        li
            span Наши партнёры
            ul
                li
                    a.mobileMenu__link(href="#") Burger Club
                li
                    a.mobileMenu__link(href="#") Pizza Time
                li
                    a.mobileMenu__link(href="#") Kruta
                li
                    a.mobileMenu__link(href="#") Sushi-Pizza
                li
                    a.mobileMenu__link(href="#") Chelentano
        li
            a.mobileMenu__link(href="#") Досатвка
        li
            a.mobileMenu__link(href="#") Оплата
        li
            a.mobileMenu__link(href="#") Контакты