-
    var values = {
        'Pizza Time': 'pizzaTime.jpg',
        'Burger Club': 'burgerClub.jpg',
        'Craft Burgers': 'craftBurgers.jpg',
        'Kruta': 'kruta.jpg',
        'Sushi-Pizza': 'sushi-pizza.jpg',
        'Chelentano': 'chelentano.png'
    }

section.sectionShops
    .sectionHeader.sectionHeader--margin20
        img(src='img/svg/menu.svg' alt='Меню' class='sectionHeader__logo')
        h2.sectionHeader__text.sectionHeader__logo--black Выберите заведение
    .container
        .row
            each img, key in values
                - var innerStyle = "background-image: url(/img/shops/" + img + ")"
                .col-md-4
                    .sectionShopsItem.sectionShopsItem--bottom30(style = innerStyle)
                        .itemOverlay
                            .itemOverlay__text #{key}