.row
    .col-12.aboutDescription
        p Хорошее заведение с такимито особенностями и фишками. Мы предлагаем что-то и обладаем такимито преимуществами.
    .col.col-md-6.info.justify-content-start
        .info__icon.mr-2
            i.far.fa-clock
        .info__description.text-left
            p Время работы
            p с 10:00 до 22:00
    .col.col-md-6.info.justify-content-start
        .info__icon.mr-2
            i.fas.fa-map-marker-alt
        .info__description.text-left
            p Наш адрес
            p г. Каменское Пр. Победы 29
    .col-12.aboutDescription
        p PizzaTime на карте