$icons-size: 44px

.infoLine
  min-height: 90px
  &__logo
    fill: $accent
    height: 70px
    +font($VS)

.info
  display: flex
  justify-content: center
  align-items: center
  &__icon
    width: $icons-size
    height: $icons-size
    border-radius: 50%
    background-color: $blue
    display: flex
    justify-content: center
    align-items: center
    font-size: 30px
    color: white
    &--MRight
      margin-right: 10px
  &__description
    line-height: 23px
    font-weight: bold
    font-size: 17px
    p
      margin: 0

+media-breakpoint-down(xs)
  .info
    margin-bottom: 10px
    &Line
      padding: 10px 0
    &__description
      font-size: 14px
      line-height: 1.4
