.sectionShops
  +bd(white)
  &Item
    position: relative
    max-width: 100%
    cursor: pointer
    display: block
    img
      border-radius: 30px
    &:hover
      .itemOverlay
        opacity: .9
        &:before
          +stretch(10px)

    &--bottom30
      margin-bottom: 30px

+media-breakpoint-down(sm)
  .itemOverlay__text
    font-size: 35px

@media (max-width: 540px)
  .itemOverlay__text
    font-size: 30px
@media (max-width: 490px)
  .itemOverlay__text
    font-size: 25px
  .sectionShopsItem
    img
      border-radius: 15px

@media (max-width: 430px)
  .itemOverlay__text
    font-size: 20px

@media (max-width: 390px)
  .itemOverlay__text
    font-size: 16px

@media (max-width: 340px)
  .itemOverlay__text
    font-size: 14px

