nav.foodMenu
    ul.foodMenu__list
        each item, index in nav.foodMenuItems
            li.foodMenu__item
                a.foodMenu__link(href=item.url)
                    +icon('foodMenuIcons--' + nav.foodMenuItems[index].iconName,   'foodMenu__icon')
                    span #{index}