extends pug/layouts/default
block content
    include pug/includes/common/_header
    include pug/includes/home/_section-top
    include pug/includes/home/_section-shops
    include pug/includes/home/_section-hot
    include pug/includes/home/_section-causes