include menu/_menuItems
include menu/_mobileMenu
header
    .topLine.container-fluid
        .topLineContainer.container
            .hamburger.hamburger--spin
                .hamburger-box
                    .hamburger-inner
            include menu/_topMenu
            //include _searchForm
    .infoLine.header--infoLine
        .container
            .row
                .col-md-4
                    include _logo
                .col-md-4
                    .info
                        .info__icon.info__icon--MRight
                            i.fas.fa-map-marker-alt
                        .info__description.text-center
                            p Доставка еды по л/б
                            p г. Каменское
                .col-md-4
                    .info
                        .info__icon.info__icon--MRight
                            i.far.fa-clock
                        .info__description.text-center
                            p Ежедневно
                            p с 10:00 до 22:00