include _menuItems
header
    .topLine.container-fluid
        .topLineContainer.container
            nav.topMenu
                ul.topMenu__list
                    each item, index in menuItems
                        if index === 0
                            - var active = 'topMenu__item--active'
                        else
                            - active = ''
                        li(class = ['topMenu__item'] class = active)
                            a.topMenu__link(href="#") #{item}

            //include _searchForm
    .infoLine.header--infoLine
        .container
            .row
                .col-md-4
                    include _logo
                .col-md-4
                    .info
                        .info__icon.info__icon--MRight
                            i.fas.fa-map-marker-alt
                        .info__description.text-center
                            p Доставка еды по л/б
                            p г. Каменское
                .col-md-4
                    .info
                        .info__icon.info__icon--MRight
                            i.far.fa-clock
                        .info__description.text-center
                            p Ежедневно
                            p с 10:00 до 22:00