svg(class='infoLine__logo', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 300 100')
    style.
        .st0, .st1 {
            stroke-miterlimit: 10
        }

        .st0 {
            stroke-width: .5;
            fill: #ffa400;
            stroke: #ffa400
        }

        .st1 {
            fill: #fff;
            stroke: #000
        }

        .st3 {
            fill: #ffa400
        }

        .st4 {
            font-family: & apos;
            VeganStylePersonalUse & apos;
        }

        .st5 {
            font-size: 20px
        }
    path.st0(d='M75.2 33.6C79 32 84.4 29.7 92 27.7c7.9-2.2 17.3-4.7 29.6-3.9 3.8.2 11.1.7 19.7 3.9 2.7 1 7.4 3.3 16.8 7.9 6.4 3.1 9.1 4.6 13.8 5.9 4 1.1 7 1.5 10.9 2 .8.1 1.5.2 2.2.2 2.1.2 3.7.3 4.3.3 9.4.5 14.8.8 19.2 1.4 2.9.4 8.8 1.2 15.8 3.9 8.2 3.2 14 7.6 13.8 7.9-.2.4-8.5-6-21.7-8.9-5.6-1.2-10.9-1.5-18.8-2 0 0-8.4-.5-17-1.6-.5-.1-1.5-.2-2.7-.4-4-.7-6.9-1.7-7.9-2-3.3-1.1-4.9-2-10.9-4.9-7.2-3.6-10.9-5.4-14.8-6.9-1.6-.6-4.9-1.9-8.9-3-14.2-3.8-26-2.3-28.6-2-4 .6-6.9 1.4-12.8 3-9.4 2.6-16.2 5.3-17.8 5.9-4 1.6-7.6 3.4-14.8 6.9-8.7 4.3-11.8 6-11.8 5.9-.2 0 10.6-7.3 25.6-13.6z')
    path.st0(d='M169.9 43.5c-.1-.5-12.8 1.7-32.6 2-9.8.1-8.2-.4-38.5-1 0 0-16.3-.3-35.9 4.4-.4.1-1.6.4-1.6.5.1.4 10.2-1.1 18.8-2 11.1-1.1 19.1-1 29.6-1 19.3.1 19.3 1.5 31.6 1 15.9-.6 28.7-3.5 28.6-3.9z')
    path.st0(d='M159 43.5c.1-.1-5.3-5.3-12.2-8.9-20.2-10.6-43.8-2.9-52.5 0-11.3 3.7-19.7 8.8-19.7 8.9 0 .1 8.2-4.3 19.7-7.9 9.7-3.1 19.3-6 31.9-4.9 3.6.3 11 1 19.7 4.9 7.6 3.4 13.1 8 13.1 7.9zM47.5 49.5c.3.2-1.8 3.1-1 4 .4.5 2 0 5-1 1.3-.4 2.4-.8 4-1 .9-.1 1.9-.2 2 0 .1.3-2.3.8-10 3-.6.2-1.5.4-2 0-.7-.7.2-2.8 1-4 .4-.5.9-1.1 1-1z')
    path(d='M65.5 37.5c.3-1.1-3.3-3.3-7-4-2.7-.5-5-.3-5 0-.1.5 4.3.7 5 3 .2.6.1 1.4 0 2-.3 1.9-1.3 2.7-1 3 .4.4 2.3-1.6 6-3 1.4-.5 1.9-.6 2-1z', fill='none', stroke='#ffa400', stroke-width='1.5', stroke-miterlimit='10')
    text(transform='matrix(1.6443 0 0 1 48.999 72.333)')
        tspan.st3.st4.st5(x='0', y='0') Food
        tspan.st3.st5(x='45.4', y='0', font-family='MyriadPro-Regular') -
        tspan.st3.st4.st5(x='51.5', y='0') courier