footer
    .navInfo
        .container
            .row
                .col-lg-6.d-none.d-lg-block
                    include menu/_footerMenu
                .col-lg-3.col-xm.col-md-6
                    .info.footer--info
                        .info__icon.mr-2
                            i.fas.fa-phone
                        .info__description.text-center
                            p (068) 400-40-58
                            p (063) 132-10-80
                .col-lg-3.col-xm.col-md-6
                    .info.footer--info
                        .info__icon.mr-2
                            i.far.fa-clock
                        .info__description.text-center
                            p Ежедневно
                            p с 10:00 до 22:00
    .copyright © Food-courier 2018 г