include menu/_menuItems
.navInfo
    .container
        .row
            .col-md-6
                include menu/_footerMenu
            .col-md-3
                .info
                    .info__icon.info__icon--MRight
                        i.fas.fa-map-marker-alt
                    .info__description.text-center
                        p (068) 400-40-58
                        p (063) 132-10-80
            .col-md-3
                .info
                    .info__icon.info__icon--MRight
                        i.far.fa-clock
                    .info__description.text-center
                        p Ежедневно
                        p с 10:00 до 22:00
.copyright © Food-courier 2018 г