include menu/_mobileMenu
header.header
    .topLine.container-fluid.Fixed
        .topLineContainer.container.d-block.d-md-flex
            .topLine__mobile.d-flex.d-md-none.justify-content-start.align-items-center
                .topLine__hamburger
                    .hamburger.hamburger--spin
                        .hamburger-box
                            .hamburger-inner
                .topLine__logo.d-flex.justify-content-center.flex-fill
                    +icon('logo', 'infoLine__logo infoLine__logo--mobile')
            include menu/_topMenu
            //include _searchForm
    .container
        .row.infoLine.justify-content-end.justify-content-sm-around.no-gutters
            .col-4.d-none.d-md-flex.align-items-center.justify-content-center
                +icon('logo', 'infoLine__logo')
            .col-12.info.infoLine--info.col-xm-6.col-md-4
                .info__icon.mr-2
                    i.fas.fa-map-marker-alt
                .info__description
                    p Доставка еды по л/б
                    p г. Каменское
            .col-12.info.infoLine--info.col-xm-6.col-md-4
                .info__icon.mr-2
                    i.far.fa-clock
                .info__description
                    p Ежедневно
                    p с 10:00 до 22:00