-
    var values = [
        {
            name: 'Pizza Time',
            img: 'pizzaTime.jpg',
            url: 'restaurant.html'
        },
        {
            name: 'Burger Club',
            img: 'burgerClub.jpg',
            url: 'burgerclub.html'
        },
        {
            name: 'Craft Burgers',
            img: 'craftBurgers.jpg',
            url: 'craftburgers.html'
        },
        {
            name: 'Kruta',
            img: 'kruta.jpg',
            url: 'kruta.html'
        },
        {
            name: 'Sushi-Pizza',
            img: 'sushi-pizza.jpg',
            url: 'sushi-pizza.html'
        },
        {
            name: 'Chelentano',
            img: 'chelentano.png',
            url: 'chelentano.html'
        }
    ]

section.sectionShops
    .sectionHeader.sectionHeader--margin20
        +icon('menu', 'sectionHeader__logo sectionHeader__logo--orange')
        h2.sectionHeader__text.sectionHeader__logo--black Выберите заведение
    .container
        .row
            each key in values
                - var imgPath = "static/img/shops/" + key.img
                .col-6.col-lg-4
                    a(href=key.url).sectionShopsItem.sectionShopsItem--bottom30
                        img(src=imgPath).img-responsive
                        .itemOverlay.itemOverlay--radius
                            .itemOverlay__text #{key.name}