section.sectionTop
    .container
        .owl-carousel.owl-carousel--top
            - var n = 0
                while  n < 5
                    img(src="static/img/slider-top/slide" + ++n + ".jpg" alt="Slide" + n)

