section.sectionHot
    .container
        .sectionHeader.sectionHeader--margin20.sectionHeader--MBottom10
            +icon('hot', 'sectionHeader__logo sectionHeader__logo--orange')
            h2.sectionHeader__text.sectionHeader__logo--white Горячие предложения
        .owl-carousel.owl-carousel--hot
            - var n = 0
                while  n < 7
                    a(href="#" class="sectionHot__item")
                        img(src="static/img/slider-hot/slide" + ++n + ".jpg" alt="Slide" + n).img-responsive
                        .itemOverlay.itemOverlay--hot
                            h3.itemOverlay__shopName Pizza Time
                            h4.itemOverlay__name Пицца "Американо"
                            p.itemOverlay__text Фирменный томатный соус, сыр "Гауда", запеченное куриное филе, бекон, маслины, перец пепперони
                            p.itemOverlay__cost 120
                                span грн