section.sectionCauses
    h2.sectionHeader__text.sectionHeader--margin20.sectionCauses--sectionHeader 3 причины полюбить нас
    .container
        .row
            .col-md-4
                .causesItem
                    +icon('delivery-truck', 'causesItem__logo causesItem__logo--orange')
                    h4.causesItem__header Скорость и удобство
                    p.causesItem__text.
                        Мы доставим ваш заказ в кратчайшие сроки. При этом горячее – горячим, холодное – холодным
            .col-md-4
                .causesItem
                    +icon('like', 'causesItem__logo causesItem__logo--orange')
                    h4.causesItem__header Полный сервис
                    p.causesItem__text.
                        Больше никаких доплат и выходов на подъезд. Только доставка до двери по фиксированным ценам
            .col-md-4
                .causesItem
                    +icon('fast-food', 'causesItem__logo causesItem__logo--orange')
                    h4.causesItem__header Тесное сотрудничество
                    p.causesItem__text.
                        Благодаря нам вы узнаете о других популярных заведениях левого берега и их фирменных блюдах.
