nav.topMenu
    ul.topMenu__list
        - var menuItems = nav.navPages
        - var first = true
        each item, index in menuItems
            if first === true
                - var active = 'topMenu__item--active'
                - first = false
            else
                - active = ''
            li(class = ['topMenu__item', active])
                a.topMenu__link(href=item) #{index}