nav.topMenu
    ul.topMenu__list
        - var menuItems = nav.navPages
        each item, index in menuItems
            if index === "О нас"
                - var active = 'topMenu__item--active'
            else
                - active = ''
            li(class = ['topMenu__item', active])
                a.topMenu__link(href=item) #{index}